.mainContainer {
    font-family: 'Titan One', cursive;
}


/* VALUE */
.values {
    background-color: var(--off-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 2.3rem;
}

.valuesTitle {
    color: var(--dark-purple);
    padding-bottom: 2rem;
    text-align: center;
    font-size: 2.2rem;
    font-family: 'Titan One', cursive;
    padding-top: 2.3rem;

}

.valuesList {
    width: 65%;
    display: inline-block;
    column-count: 2;
    color: var(--dark-purple);
    
}

.valuesText {
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 1rem;
    background-color: var(--medium-purple);
}


/* FOCUS */

.containerFocus {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 2.3rem;
    padding-top: 2.3rem;
    color: var(--dark-purple);
}

.titleFocus {
    color: var(--dark-purple);
    padding-bottom: 2rem;
    text-align: center;
    font-family: 'Titan One', cursive;
    font-size: 2.2rem;
}

.focusCard {
    width: 65%;
    display: inline-block;
    column-count: 2;
    color: var(--dark-purple);
}

.focusTextList {
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 1rem;
    background-color: var(--medium-purple);
}


b {
    margin-top: 0.1rem;
    margin-bottom: 0.29rem;
    display: inline-block;
}
  
