@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Titan+One&display=swap');


:root {
  --black: #191919;
  --dark-purple: #301934;
  --light-purple: #bfcbf0;
  --medium-purple: #b3b1d2;
  --background: #f4edf9;
  --off-white: #f7f4f9;
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #61546e;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-purple);
}